body{
    height: 100%;
    /* width: 100%; */
}
* {
    margin: 0;
    padding: 0%;
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 73px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.left img {
    width: 57px;
    height: 53px;
}

.container {
    padding: 0 6vw;

    /* margin: 12px 0; */

}

.container-2 {
    padding: 0 6vw;

    margin: 12px 0;
}

nav ul li {
    list-style: none;
    padding: 0 15px;
}

.section-1 {
    background-color: #fff;
    /* height: 900px; */
    padding: 16px 0;
}

nav {
    padding-top: 12px;
}

.desktop-searchBar {

    width: 32vw;
    height: 5vh;
    padding: 0 10px;
    margin-left: 10px;
    border: none;
    background-color: #f5f5f6;
    border-radius: 3px;
}

.section-1 .homeImg {
    width: 100%;
    margin: 0;
    padding: 0%;
}

.text-banner-title {
    margin: 20px 30px;
    padding: 20px 16px;
    font-size: 25px;
    font-weight: bold;
}



nav ul li .footer-head {
    margin: 0;
    padding: 0;
}

.footer-container {
    padding-left: 15vw;
 
}

.footer-head {
    font-size: 13px;
    color: gray;
    font-weight: lighter;
    padding: 4px 0;
    text-decoration: none;
}

.nav-footer {
    margin: 7px 0 30px;
}
.footer-container-2{
    padding-left: 73px;
}

.footer-head-3{
    height: 5vh;
    margin-right: 10px;
    margin-bottom: 20px;
}
.footer-container-3{
    display: block;
    padding-left: 73px;
    margin-bottom: 10px;
}
.footer-img-1{
    width: 7vw;
    height: 2vw;
}
.mar-1{
margin-bottom: 10px;
}
.img-101{
    width: 18vw;
    margin-left: 71px;
}